{% load static %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>

<!-- Fontawesome CSS -->
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

<!-- Googleapis font css -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Actor'>

<!-- Product Image Magnifier CSS -->
<link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/bbbootstrap/libraries/main/xzoom.css" media="all" />

<link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "css/stripe-style.css" %}'/>

<!-- Account Home CSS -->
<link rel="stylesheet" type="text/css" href='{% static "css/account_home.css" %}'/>

<!-- Custom stylesheet -->
<link type="text/css" rel="stylesheet" href='{% static "css/style.css" %}' />

<!-- Image Zoom CSS -->
<link type="text/css" rel="stylesheet" href='{% static "css/image_zoom.css" %}' />

<!-- Login and Security CSS -->
<link rel="stylesheet" type="text/css" href='{% static "css/login_&_security.css" %}'/>

<!-- Login CSS -->
<link rel="stylesheet" type="text/css" href='{% static "css/login.css" %}'/>

<!-- Order Details stylesheet -->
<link type="text/css" rel="stylesheet" href='{% static "css/order_details.css" %}' />

<!-- Register CSS -->
<link rel="stylesheet" type="text/css" href='{% static "css/register.css" %}'/>

<!-- Scroll CSS -->
<link rel="stylesheet" type="text/css" href='{% static "css/scroll.css" %}'/>

<!-- JQuery-Confirm CSS -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css"/>