<div class="footer">
    <a href="#" id="toTopBtn" class="col-12">
        <div class="my-auto text-center">
            <p class="">Back to Top</p>
        </div>
    </a>
    <div class="container-fluid">
        
        <footer class="container footer-content">
            <div class="row">
                <div class="col-12 col-md">
                    <img src="//getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                    <small class="d-block mb-3 text-muted">© 2017-2018</small>
                </div>
                <div class="col-6 col-md">
                    <h6 class="h6_footer font-weight-bolder">Get to Know Us</h6>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href='{% url "about" %}'>About Us</a></li>
                        <li><a class="text-muted" href='{% url "contact" %}'>Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h6 class="h6_footer font-weight-bolder">Connect with Us</h6>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Facebook</a></li>
                        <li><a class="text-muted" href="#">Twitter</a></li>
                        <li><a class="text-muted" href="#">Instagram</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h6 class="h6_footer font-weight-bolder">Resources</h6>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Resource</a></li>
                        <li><a class="text-muted" href="#">Resource name</a></li>
                        <li><a class="text-muted" href="#">Another resource</a></li>
                        <li><a class="text-muted" href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h6 class="h6_footer font-weight-bolder">Resources</h6>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Business</a></li>
                        <li><a class="text-muted" href="#">Education</a></li>
                        <li><a class="text-muted" href="#">Government</a></li>
                        <li><a class="text-muted" href="#">Gaming</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>